[submodule "submodules/portaudio"]
	path = submodules/portaudio
	url = https://github.com/PortAudio/portaudio
[submodule "submodules/simde"]
	path = submodules/simde
	url = https://github.com/simd-everywhere/simde
